@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  resize: none;
  overflow: hidden;
}

textarea:focus {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
}
